:root {
    --font-family: "Poppins", sans-serif;
    --font-icons: 'bootstrap-icons';
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --gap-xsm: .5rem;
    --gap-sm: 1.5rem;
    --gap-md: 2.5rem;
    --gap-lg: 4.5rem;
    --width-100: 100px;
    --height-100: 100px;
    --m-width-100: 100%;
    --m-height-100: 100%;
    --p-xsm: .5rem;
    --p-sm: 1.5rem;
    --p-md: 2.5rem;
    --p-lg: 4.5rem;
    --m-xsm: .5rem;
    --m-sm: 1.5rem;
    --m-md: 2.5rem;
    --m-lg: 4.5rem;
    --border-radius-xsm: .25rem;
    --border-radius-sm: .5rem;
    --border-radius-md: 2.5rem;
    --border-radius-lg: 5rem;
    --wrapper-p-sm: 0 2.5rem;
    --wrapper-p-lg: 0 6rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--blog-font-family);
    font-weight: var(--fw-400);
    font-style: normal;
}

body {
    background: var(--bs-light);
}

.wrapper {
    display: grid;
    grid-template-rows: 80px 1fr 100px;
    grid-template-columns: 1fr;
    grid-template-areas: 'header''main''footer';
    gap: var(--gap-sm);
}

.wrapper__header {
    grid-area: header;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-areas: 'brand menu search';
    align-items: center;
    padding: var(--wrapper-p-lg);
    background: var(--bs-white);
    filter: drop-shadow(1px 5px 5px rgba(0, 0, 0, .05));
    z-index: 999;
}

.header__brand {
    grid-area: brand;
}

.header__brand-img {
    width: var(--width-100);
}

.header__menu {
    grid-area: menu;
    justify-self: center;
}

.header__menu-ul,
.header__offcanvas-ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__menu-ul {
    gap: calc(var(--gap-md) - .5rem);
    padding: 0 calc(var(--p-sm) - .5rem);
}

.header__menu-ul a,
.header__offcanvas-ul a {
    text-decoration: none;
    color: var(--bs-secondary);
    font-weight: var(--fw-500);
    transition: all .3s linear;
}

.header__menu-ul a:hover {
    color: var(--bs-dark);
}

.header__search {
    grid-area: search;
    display: flex;
    align-items: center;
    position: relative;
}

.header__search-icon {
    position: absolute;
    padding-left: var(--p-xsm);
}

.header__search-icon::before {
    content: '\F52A';
    font-family: var(--font-icons);
}

.header__search input[type='search'],
.header__search-sm input[type='search'] {
    padding-left: calc(var(--p-sm) + .25rem);
}

.header__hamburger {
    display: none;
    width: max-content;
    font-size: 30px;
    background: transparent;
    border: none;
}

.header__hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 22px;
    height: 22px;
}

.bar {
    width: var(--m-width-100);
    height: 3px;
    background-color: var(--bs-secondary);
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

.header__offcanvas-ul {
    flex-direction: column;
    gap: calc(var(--gap-sm) - .5rem);
}

.header__offcanvas-ul a {
    display: block;
}

.header__offcanvas-ul li {
    padding: calc(var(--p-xsm) + .15rem);
    border-radius: var(--border-radius-xsm);
    transition: all 0.3s ease;
    background-color: var(--bs-secondary-bg-subtle);
}

.header__offcanvas-ul li:hover {
    background-color: var(--bs-primary);
}

.header__offcanvas-ul li:hover a {
    color: var(--bs-light);
}

.header__offcanvas-ul i {
    margin-right: var(--m-xsm);
}

@media (max-width: 992px) {
    .wrapper__header {
        grid-template-columns: 1fr 3fr 30px;
        grid-template-areas: "brand search header__hamburger";
    }

    .header__hamburger {
        display: block;
    }

    .header__menu,
    .header__search-sm {
        display: none;
    }

    .header__search {
        padding: 0 calc(var(--p-sm) * 2);
    }
}

@media (min-width: 992px) {

    .offcanvas,
    .offcanvas-backdrop {
        display: none;
    }
}

@media (max-width: 768px) {
    .wrapper__header {
        grid-template-columns: 1fr 30px;
        grid-template-areas: "brand header__hamburger";
    }

    .header__search {
        display: none;
    }

    .header__search-sm {
        display: flex;
        align-items: center;
        margin-bottom: var(--m-sm);
        position: relative;
    }
}

@media (max-width: 576px) {
    .wrapper__header {
        padding: var(--wrapper-p-sm);
    }

    .offcanvas {
        width: calc(var(--m-width-100) - 40%) !important;
    }
}

.main__wrapper {
    grid-area: main;
    display: grid;
    grid-template-rows: max-content 1fr max-content 450px;
    grid-template-columns: 1fr;
    grid-template-areas: 'banner''section-one''section-two''section-three';
    padding: var(--wrapper-p-lg);
    gap: calc(var(--gap-md) - .5rem);
}

@media(max-width:576px) {
    .main__wrapper {
        padding: var(--wrapper-p-sm);
    }
}

.section__banner {
    grid-area: banner;
    position: relative;
    border-radius: var(--border-radius-xsm);
}

.section__banner img {
    width: var(--m-width-100);
    height: calc(var(--height-100) * 3);
    object-fit: cover;
    border-radius: var(--border-radius-xsm);
}

.section__banner-text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-20%, -50%);
}

.section__banner-text span {
    font-size: 3em;
    font-weight: var(--fw-500);
    color: #987070;
}

@media(max-width:576px) {
    .section__banner img {
        height: calc(var(--height-100) + 50px);
    }

    .section__banner-text span {
        font-size: 25px;
    }
}

.section__one {
    grid-area: section-one;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'title''content';
}

.section__title {
    grid-area: title;
    display: flex;
    flex-direction: column;
}

.section__title-text {
    display: flex;
    align-items: center;
    font-size: 25px;
    gap: var(--gap-xsm);
}

.section__one-icon::before {
    content: '\F4A3';
    font-family: var(--font-icons);
}

.section__one-container {
    grid-area: content;
    display: grid;
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: 1fr;
    gap: calc(var(--gap-md) - .5rem);
    position: relative;
}

.section__one-content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'img details';
    align-items: center;
    padding: var(--p-sm);
    gap: calc(var(--gap-sm) - .5rem);
    background: var(--bs-white);
    box-shadow:
        rgba(27, 31, 35, 0.04) 0px 1px 0px,
        rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    border-radius: var(--border-radius-xsm);
}

.section__one-content:nth-child(even) {
    direction: rtl;
}

.section__one-img {
    grid-area: img;
    width: var(--m-width-100);
    height: calc((var(--height-100)* 2 + 40px));
    border-radius: var(--border-radius-sm) calc(var(--border-radius-md) + .5rem);
    overflow: hidden;
    position: relative;
}

.section__one-content:nth-child(even) .section__one-img {
    border-radius: calc(var(--border-radius-md) + .5rem) var(--border-radius-sm);
}

.section__one-img img {
    width: var(--m-width-100);
    height: var(--m-height-100);
    object-fit: cover;
    border-radius: var(--border-radius-sm);
    transition: transform 0.5s ease;
}

.section__one-img:hover img {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.section__one-content .overlay-text a {
    font-size: 30px;
    color: var(--bs-white);
}

.section__one-img:hover .overlay-text {
    opacity: 1;
}

.section__one-details {
    grid-area: details;
    display: flex;
    flex-direction: column;
    width: var(--m-width-100);
    height: var(--m-height-100);
    gap: calc(var(--gap-xsm) + .25rem) .75rem;
}

.section__one-tag a {
    display: flex;
    width: max-content;
    gap: var(--gap-xsm);
}

.section__one-tag a::before {
    content: '\F287';
    font-family: var(--font-icons);
}

.section__one-title a,
.section__two-title a {
    color: var(--bs-dark);
    text-decoration: none;
}

.section__one-title span {
    font-size: 25px;
}

.section__one-owner--container {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.section__owner {
    display: flex;
    align-items: center;
    gap: calc(var(--gap-sm) - .5rem);
}

.section__reactions {
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
    color: #999;
}

.reaction__like span,
.reaction__dislike span {
    display: flex;
    align-items: center;
    gap: var(--gap-xsm);
}

.reaction__like span::before {
    content: '\F415';
    font-family: var(--font-icons);
}

.reaction__dislike span::before {
    content: '\F770';
    font-family: var(--font-icons);
}

.reaction__like span::before,
.reaction__dislike span::before {
    cursor: pointer;
    font-size: 20px;
}

.reaction__like.active span::before,
.reaction__like:hover span::before {
    color: var(--bs-danger);
    filter: drop-shadow(1px 1px 3px var(--bs-danger));
}

.reaction__dislike.active span::before,
.reaction__dislike:hover span::before {
    color: #6c757d;
    filter: drop-shadow(1px 1px 3px #6c757d);
}

@media (max-width: 992px) {
    .section__one-content {
        grid-template-rows: repeat(2, max-content);
        grid-template-columns: 1fr;
        grid-template-areas: 'img''details';
    }

    .section__one-img {
        width: var(--m-width-100);
        height: calc(var(--height-100) * 3);
    }

    .section__one-content:nth-child(even) {
        direction: ltr;
    }

    .section__one-content:nth-child(even) .section__one-img {
        border-radius: var(--border-radius-sm) calc(var(--border-radius-md) + .5rem);
    }
}

@media(max-width:576px) {
    .section__one-owner--container {
        display: flex;
        flex-direction: column;
    }

    .section__reactions {
        justify-content: center;
        gap: var(--gap-md);
    }
}

@media(max-width:440px) {
    .section__one-content {
        grid-template-rows: max-content 1fr;
    }
}

.section__two {
    grid-area: section-two;
    display: grid;
    grid-template-rows: 60px max-content;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 'title col-right''content col-right';
    gap: var(--gap-sm);
}

.section__two-icon::before {
    content: '\F484';
    font-family: var(--font-icons);
}

.section__two-container {
    grid-area: content;
    display: grid;
    grid-template-rows: repeat(2, 400px);
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-sm);
}

.section__two-content {
    overflow: hidden;
    border-radius: calc(var(--border-radius-md) - .5rem);
    border: 1px solid var(--bs-border-color);
    transition: transform 0.5s ease;
}

.section__two-img {
    width: var(--m-width-100);
    height: var(--m-height-100);
    position: relative;
}

.section__two-img img {
    width: var(--m-width-100);
    height: var(--m-height-100);
    object-fit: cover;
    border-radius: calc(var(--border-radius-md) - .5rem);
    transition: transform 0.5s ease;
}

.section__two-content:hover {
    transform: translateY(-10px);
}

.section__two-content:hover .section__two-img img {
    transform: scale(1.05);
}

.card__img-overlay {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: var(--m-width-100);
    height: calc(var(--m-height-100) - 70%);
    background: var(--bs-white);
    padding: calc(var(--p-sm) - .5rem) calc(var(--p-md) - .5rem);
    border-top-left-radius: calc(var(--p-md) + .5rem);
    border-bottom-left-radius: calc(var(--p-md) - .5rem);
    border-bottom-right-radius: calc(var(--p-md) - .5rem);
    transition: height 0.5s ease-in-out;
}

.card__img-overlay:hover {
    height: calc(var(--m-height-100) - 60%);
}

.card__img-overlay .avatar__subtle,
.card__img-overlay .avatar {
    width: calc(var(--width-100) - 50px);
    height: calc(var(--height-100) - 50px);
}

.card__img-overlay .avatar__subtle {
    color: var(--bs-danger);
    background: var(--bs-danger-bg-subtle);
}

.card__img-overlay .section__one-owner {
    display: flex;
    align-items: center;
    gap: calc(var(--gap-sm) - .5rem);
}

.card__img-overlay .owner__text {
    display: flex;
    flex-direction: column;
}

.card__img-overlay .owner__text span {
    font-weight: var(--fw-500);
}

.section__two-content .post__date span {
    display: flex;
    gap: var(--gap-xsm);
    font-size: 13px;
    color: #999;
}

.section__two-content .post__date span::before {
    content: '\F217';
    font-family: var(--font-icons);
}

.reaction__liked span {
    display: flex;
    align-items: center;
    gap: var(--gap-xsm);
}

.reaction__liked span::before {
    content: '\F415';
    font-family: var(--font-icons);
    color: var(--bs-danger);
    font-size: 20px;
}

.section__two-title {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

.section__two-title span {
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.card__img-overlay:hover .section__two-title {
    height: auto;
    margin-top: var(--m-xsm);
    transition: height 0.5s ease-in-out;
}

.card__img-overlay:hover .section__two-title span {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.section__two-details {
    display: flex;
    flex-direction: column;
    height: max-content;
    gap: calc(var(--gap-xsm) -.25rem);
}

.section__paginate {
    padding-top: var(--p-xsm);
    border-top: 1px solid var(--bs-border-color);
}

.section__two-right-container {
    grid-area: col-right;
    display: grid;
    grid-template-rows: 144px max-content max-content;
    grid-template-columns: 1fr;
    grid-template-areas: 'social''categories''subscribe';
    gap: var(--gap-md);
}

.section__two-social {
    grid-area: social;
    display: grid;
    grid-template-rows: repeat(3, 50px);
    grid-template-columns: 1fr;
    gap: var(--gap-xsm);
}

.section__two-social a {
    color: var(--bs-white);
    text-decoration: none;
}

.social__card {
    display: flex;
    align-items: center;
    padding: 0 calc(var(--p-sm) - .5rem);
    border-radius: var(--border-radius-xsm);
}

.bg-facebook {
    background: #5d82d1;
}

.bg-youtube {
    background: #ff0000;
}

.bg-instagram {
    background: -webkit-radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-size: 120% 120%;
    background-position: right bottom;
}

.facebook__link span,
.instagram__link span,
.youtube__link span {
    display: flex;
    align-items: center;
    gap: calc(var(--gap-sm) - .5rem);
}

.facebook__link span::before,
.instagram__link span::before,
.youtube__link span::before {
    font-family: var(--font-icons);
    font-size: 22px;
}

.facebook__link span::before {
    content: '\F344';
}

.instagram__link span::before {
    content: '\F437';
}

.youtube__link span::before {
    content: '\F62B';
}

.section__two-categories {
    grid-area: categories;
    display: grid;
    grid-template-rows: repeat(6, 50px);
    grid-template-columns: 1fr;
    gap: var(--gap-xsm);
}

.section__two-sub-title {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: var(--fw-500);
    gap: var(--gap-xsm);
    color: var(--bs-dark);
}

.section__two-sub-title::before {
    content: '\F444';
    font-family: var(--font-icons);
}

.badge-card {
    padding: 0 calc(var(--p-sm) - .5rem);
    border-radius: var(--border-radius-xsm);
}

.badge-card a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--m-height-100);
    text-decoration: none;
}

.section__two-subscribe {
    grid-area: subscribe;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--bs-white);
    border: 1px solid var(--bs-border-color);
    border-radius: var(--border-radius-sm);
    padding: calc(var(--p-md) + .5rem);
    gap: calc(var(--gap-sm) - .5rem);
}

.section__two-subscribe input[type="email"] {
    background: var(--bs-white);
}

@media (max-width: 992px) {
    .section__two {
        grid-template-rows: 60px max-content 60px max-content;
        grid-template-columns: 1fr;
        grid-template-areas: 'title''content''section__paginate''col-right';
    }

    .section__two-social {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        gap: calc(var(--gap-sm) - .5rem);
    }

    .social__card {
        flex-direction: column;
        justify-content: center;
    }

    .facebook__link span,
    .instagram__link span,
    .youtube__link span {
        flex-direction: column;
        text-align: center;
        font-size: 17px;
        gap: calc(var(--gap-xsm) - .25rem);
    }

    .facebook__link span::before,
    .instagram__link span::before,
    .youtube__link span::before {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .section__two-container {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 576px) {
    .section__paginate {
        display: flex;
        justify-content: center;
    }
}

.section__three {
    grid-area: section-three;
    display: grid;
    grid-template-rows: 60px 300px;
    grid-template-columns: 1fr;
    grid-template-areas: 'title''swiper';
    position: relative;
    width: var(--m-width-100);
    height: calc(var(--height-100) * 3);
    gap: var(--gap-sm);
}

.section__title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section__three-icon::before {
    content: '\F466';
    font-family: var(--font-icons);
}

.section__title-link a {
    display: flex;
    align-items: center;
    gap: calc(var(--gap-xsm) - .25rem);
    position: relative;
}

.section__title-link a::after {
    content: '\F1C0';
    font-family: var(--font-icons);
    transition: transform .3s ease;
}

.section__title-link a:hover::after {
    transform: translateX(.25rem);
}

.section__three-swiper {
    grid-area: swiper;
}

swiper-container {
    position: absolute;
    width: var(--m-width-100);
    height: var(--m-height-100);
}

swiper-slide {
    display: grid;
    grid-template-rows: 180px 1fr;
    grid-template-areas: 'img''content';
    grid-template-columns: 1fr;
    background: var(--bs-white);
    border: 1px solid var(--bs-border-color);
    border-top-left-radius: var(--border-radius-sm);
    border-top-right-radius: calc(var(--border-radius-md) + .5rem);
    border-bottom-left-radius: calc(var(--border-radius-md) + .5rem);
    border-bottom-right-radius: var(--border-radius-sm);
    padding: calc(var(--p-xsm) - .25rem);
}

.slide__img-container {
    grid-area: img;
    width: var(--m-width-100);
    height: var(--m-height-100);
}

.slide__img {
    width: var(--m-width-100);
    height: var(--m-height-100);
    object-fit: cover;
    border-top-left-radius: var(--border-radius-sm);
    border-top-right-radius: calc(var(--border-radius-md) + .5rem);
    border-bottom-left-radius: calc(var(--border-radius-md) + .5rem);
    border-bottom-right-radius: var(--border-radius-sm);
}

.slide__content {
    grid-area: content;
    color: var(--bs-dark);
    padding: var(--p-xsm) calc(var(--p-xsm) + .25rem);
}

.slide__content-title {
    font-size: 1.25rem;
}

.slide__link-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slide__count-posts {
    display: flex;
    gap: var(--gap-xsm);
}

.slide__count-posts span:first-child {
    font-weight: bold;
}

.badge-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--width-100) - 60px);
    height: calc(var(--height-100) - 60px);
    color: var(--bs-white);
    background: rgba(0, 0, 0, .2);
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.badge-link::before {
    content: '\F33E';
    font-family: var(--font-icons);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.badge-link:hover {
    background: var(--bs-dark);
    color: var(--bs-white);
}

@media (max-width: 768px) {
    .section__three {
        grid-template-rows: 100px 300px;
        gap: var(--gap-md);
    }

    .section__title-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 458px) {
    .section__three {
        gap: calc(var(--gap-md) + 1rem);
    }
}

.main__footer {
    grid-area: footer;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 'copyright brand social';
    align-items: center;
    justify-content: center;
    color: var(--bs-white);
    background: rgb(25, 26, 31);
    padding: 0 calc(var(--p-md) - .5rem);
}

.footer__copyright {
    grid-area: copyright;
}

.footer__brand {
    grid-area: brand;
    justify-self: center;
}

.footer__brand-img {
    width: var(--width-100);
}

.footer__social {
    grid-area: social;
    display: flex;
    gap: calc(var(--gap-sm) - .5rem);
    margin-left: auto;
}

.footer__social-link {
    color: var(--bs-white);
}

@media (max-width: 768px) {
    .main__footer {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas: 'brand''social''copyright';
        padding: calc(var(--p-sm) - .5rem) 0;
        height: calc(var(--height-100) * 2);
        gap: calc(var(--gap-md) - .5rem);
    }

    .footer__copyright,
    .footer__brand,
    .footer__social {
        justify-self: center;
    }

    .footer__social {
        margin-left: 0;
    }
}

.categories__wrapper {
    display: grid;
    grid-template-rows: 150px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'header''content';
    padding: var(--wrapper-p-lg);
    gap: var(--gap-md);
}

.categories__header {
    grid-area: header;
    position: relative;
}

.categories__header img {
    width: var(--m-width-100);
    height: var(--m-height-100);
    object-fit: cover;
    border-radius: var(--border-radius-sm);
}

.header__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    font-weight: bold;
    background: rgba(0, 0, 0, .05);
    padding: calc(var(--p-xsm) - .25rem) var(--p-sm);
}

.categories__content-container {
    grid-area: content;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-sm);
}

.categories__content {
    display: grid;
    grid-template-rows: 300px max-content max-content;
    grid-template-columns: 1fr;
    grid-template-areas: 'img''title''description';
    gap: var(--gap-xsm);
    padding: calc(var(--p-sm) - .5rem);
    border-radius: var(--border-radius-sm);
    background: var(--bs-white);
}

.categories__content-img {
    grid-area: img;
    position: relative;
}

.categories__content-img img {
    width: var(--m-width-100);
    height: var(--m-height-100);
    object-fit: cover;
    border-radius: var(--border-radius-sm);
}

.categories__content .overlay-text a {
    color: var(--bs-white);
    font-size: 25px;
}

.categories__content-img:hover .overlay-text {
    opacity: 1;
}

.categories__content-title {
    grid-area: title;
    display: flex;
    justify-content: space-between;
}

.categories__content-title a {
    text-decoration: none;
    color: var(--bs-dark);
    font-size: 20px;
}

.categories__content-desc {
    grid-area: description;
    color: #999;
}

@media(max-width:576px) {

    .header__text {
        font-size: 20px;
    }
}

.category__wrapper {
    display: grid;
    grid-template-rows: 150px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'header''content';
    padding: var(--wrapper-p-lg);
    gap: var(--gap-md);
}

.category__header {
    grid-area: header;
    position: relative;
}

.category__header img {
    width: var(--m-width-100);
    height: var(--m-height-100);
    object-fit: cover;
    border-radius: var(--border-radius-sm);
}

.category__content-container {
    grid-area: content;
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-md);
}

.category__content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, max-content);
    grid-template-areas: 'img title';
    gap: var(--gap-xsm);
    background: var(--bs-white);
    border-radius: var(--border-radius-sm);
}

.category__content-img {
    grid-area: img;
    width: calc(var(--width-100) + 50px);
}

.category__content-img img {
    width: var(--m-width-100);
    height: var(--m-height-100);
    object-fit: cover;
    border-top-left-radius: var(--border-radius-sm);
    border-bottom-left-radius: var(--border-radius-sm);
}

.category__content-details {
    display: flex;
    flex-direction: column;
}

.category__content-title {
    grid-area: title;
}

.category__content-title span {
    font-size: 25px;
}

@media(max-width:992px) {
    .category__content-container {
        grid-template-columns: max-content;
    }
}

.posts__wrapper {
    display: grid;
    grid-template-rows: 150px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'header''content';
    padding: var(--wrapper-p-lg);
    gap: var(--gap-md);
}

.posts__header {
    grid-area: header;
    position: relative;
}

.posts__header img {
    width: var(--m-width-100);
    height: var(--m-height-100);
    object-fit: cover;
    border-radius: var(--border-radius-sm);
}

.posts__content-container {
    grid-area: content;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: var(--gap-md);
}

.posts__content {
    display: grid;
    grid-template-rows: 250px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'info content img';
    gap: var(--gap-sm);
    background: var(--bs-white);
    border-radius: var(--border-radius-sm);
    padding: var(--p-md);
}

.posts__info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap-sm) - .5rem);
}

.posts__info-tags a {
    display: flex;
    align-items: center;
    width: max-content;
    margin-bottom: calc(var(--m-sm) - 1rem);
}

.posts__info-tags a::before {
    content: '\F287';
    font-family: var(--font-icons);
    margin-right: calc(var(--m-sm) - 1rem);
}

.posts__info-title a {
    text-decoration: none;
    color: var(--bs-dark);
    font-size: 25px;
}

.posts__info-avatar {
    display: flex;
    align-items: center;
    gap: var(--gap-xsm);
}

.posts__info-avatar .avatar__subtle,
.posts__info-avatar .avatar {
    width: calc(var(--width-100) - 40px) !important;
    height: calc(var(--height-100) - 40px) !important;
}

.posts__content-content {
    grid-area: content;
}

.posts__img {
    grid-area: img;
    width: var(--m-width-100);
    height: var(--m-height-100);
}

.posts__img img {
    width: var(--m-width-100);
    height: var(--m-height-100);
    object-fit: cover;
    border-radius: var(--border-radius-sm);
}

@media(max-width:992px) {
    .posts__content {
        grid-template-rows: max-content 1fr;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'info info''content img';
    }
}

@media(max-width:768px) {
    .posts__content {
        grid-template-rows: max-content max-content 300px;
        grid-template-columns: 1fr;
        grid-template-areas: 'info''content''img';
    }
}

@media(max-width:576px) {
    .posts__wrapper {
        padding: var(--wrapper-p-sm);
    }

    .posts__content {
        grid-template-rows: max-content max-content 200px;
    }
}

.post__wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'about content';
    gap: var(--gap-sm);
    background: var(--bs-white);
    margin: var(--wrapper-p-lg);
    padding: var(--p-md);
    border-radius: var(--border-radius-sm);
}

.post__about {
    grid-area: about;
    display: grid;
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: 1fr;
    grid-template-areas: 'img''category''tags';
    gap: var(--gap-sm);
}

.post__img {
    grid-area: img;
    width: var(--m-width-100);
    height: calc(var(--height-100) * 4);
}

.post__img img {
    width: var(--m-width-100);
    height: var(--m-height-100);
    object-fit: cover;
    border-radius: var(--border-radius-sm);
}

.post__category {
    grid-area: category;
    display: flex;
    flex-direction: column;
    gap: var(--gap-xsm);
}

.post__category-title,
.post__tags-title {
    display: flex;
    align-items: center;
    gap: var(--gap-xsm);
    font-size: 20px;
    font-weight: var(--fw-500);
}

.post__category-title::before {
    content: '\F444';
    font-family: var(--font-icons);
}

.post__category-tag a {
    display: flex;
    width: max-content;
    text-decoration: none;
    gap: var(--gap-xsm);
    padding: var(--p-xsm);
}

.post__category-tag a::before,
.post__tags-tags a::before {
    content: '\F287';
    font-family: var(--font-icons);
}

.post__tags {
    grid-area: tags;
    display: flex;
    flex-direction: column;
    gap: var(--gap-xsm);
}

.post__tags-title::before {
    content: '\F5B2';
    font-family: var(--font-icons);
}

.post__tags-tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-xsm);
}

.post__tags-tags a {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: max-content;
    padding: var(--p-xsm);
    gap: var(--gap-xsm);
}

.post__content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
}

.post__content-subject {
    display: flex;
    flex-direction: column;
}

.post__content-title {
    font-size: 25px;
    font-weight: var(--fw-500);
}

@media (max-width:992px) {

    .post__img {
        height: calc(var(--height-100) * 3);
    }
}

@media (max-width:768px) {

    .post__wrapper {
        grid-template-rows: repeat(2, max-content);
        grid-template-columns: 1fr;
        grid-template-areas: 'content''about';
        gap: var(--gap-sm);
    }

    .post__about {
        grid-template-rows: repeat(3, max-content);
        grid-template-columns: 1fr;
        grid-template-areas: 'img''category''tags';
        gap: var(--gap-sm);
    }
}

@media (max-width:576px) {
    .post__wrapper {
        margin: var(--wrapper-p-sm);
    }

    .post__img {
        height: calc(var(--height-100) * 2);
    }
}

.tag__wrapper {
    display: grid;
    grid-template-rows: 150px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'header''content';
    padding: var(--wrapper-p-lg);
    gap: var(--gap-sm);
}

.tag__header {
    grid-area: header;
    position: relative;
}

.tag__header img {
    width: var(--m-width-100);
    height: var(--m-height-100);
    object-fit: cover;
    border-radius: var(--border-radius-sm);
}

.tag__header .header__text {
    top: 50%;
    left: 40%;
    transform: translate(-30%, -50%);
}

.tag__content-container {
    grid-area: content;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-sm);
}

.tagged__post {
    display: grid;
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: 1fr;
    grid-template-areas: 'img''content''tags';
    gap: var(--gap-sm);
    padding: var(--p-sm);
    background: var(--bs-white);
    border-radius: var(--border-radius-sm);
}

.tagged__post-img {
    grid-area: img;
    width: var(--m-width-100);
    height: calc(var(--height-100) * 2);
}

.tagged__post-img img {
    width: var(--m-width-100);
    height: var(--m-height-100);
    object-fit: cover;
    border-radius: var(--border-radius-sm);
}

.tagged__post-content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: var(--gap-xsm);
}

.tagged__post-title {
    font-size: 20px;
}

.read__more-btn {
    background: var(--bs-primary);
    color: var(--bs-white);
    text-decoration: none;
    padding: .5rem 1.5rem;
    border-radius: var(--border-radius-sm);
}

.tagged__post-tags {
    grid-area: tags;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-xsm);
}

.tagged__post-tags a {
    display: flex;
    align-items: center;
    gap: var(--gap-xsm);
    padding: var(--p-xsm);
    text-decoration: none;
}

.tagged__post-tags a::before {
    content: '\F5B1';
    font-family: var(--font-icons);
}

@media(max-width:992px) {

    .tag__content-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:768px) {

    .tag__header .header__text {
        left: 20%;
        transform: translate(-10%, -50%);
        font-size: 25px;
    }

    .tag__content-container {
        grid-template-columns: 1fr;
    }

}

@media(max-width:576px) {
    .tag__wrapper {
        padding: var(--wrapper-p-sm);
    }

    .tag__header .header__text {
        left: 20%;
        transform: translate(-10%, -50%);
        background: rgba(0, 0, 0, .3);
        font-size: 16px;
        color: var(--bs-white);
    }
}

.auth.wrapper {
    grid-template-rows: 80px 1fr;
    grid-template-areas: 'header''main';
}

.main__auth {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: calc(var(--m-width-100) - 60%);
    padding: var(--p-sm);
    border-radius: var(--border-radius-sm);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background: var(--bs-white);
    gap: calc(var(--gap-sm) - .5rem);
    transition: width .3s ease-in-out;
}

.auth__header {
    font-size: 25px;
    text-align: center;
}

.auth__container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.auth__social {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1.5rem;
}

.auth__social-facebook {
    color: #285AEB;
}

.auth__social-facebook::before {
    content: '\F344';
    font-family: var(--font-icons);
}

.auth__social-twitter {
    color: var(--bs-dark);
}

.auth__social-twitter::before {
    content: '\F8DB';
    font-family: var(--font-icons);
}

.auth__social-google {
    color: var(--bs-info);
}

.auth__social-google::before {
    content: '\F3F0';
    font-family: var(--font-icons);
}

.auth__social-facebook,
.auth__social-twitter,
.auth__social-google {
    font-size: 20px;
    text-decoration: none;
}

@media(max-width:992px) {
    .main__auth {
        width: calc(var(--m-width-100) - 40%);
    }
}

@media (max-width: 576px) {
    .main__auth {
        width: calc(var(--m-width-100) - 19%);
    }
}

.main__auth.register {
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'illustration content';
    width: calc(var(--m-width-100) - 14%);
    padding: 1.5rem 2rem;
}

.auth__illustration {
    grid-area: illustration;
}

.auth__illustration img {
    width: var(--m-width-100);
    height: var(--m-height-100);
    object-fit: cover;
}

.auth__content {
    grid-area: content;
}

.main__auth.register .auth__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media(max-width:992px) {
    .main__auth.register {
        grid-template-columns: 1fr;
        grid-template-areas: 'content';
        width: calc(var(--m-width-100) - 30%);
    }

    .auth__illustration {
        display: none;
    }
}

@media (max-width: 576px) {
    .main__auth.register {
        width: calc(var(--m-width-100) - 19%);
    }

    .main__auth.register .auth__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .main__auth.register button {
        width: var(--m-width-100) !important;
    }
}

.dashboard__wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 260px 1fr;
    grid-template-areas: 'aside main';
    transition: grid-template-columns .3s ease-in-out;
}

.dashboard__aside {
    grid-area: aside;
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'brand''menu';
    position: fixed;
    width: 260px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--bs-white);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: width .3s ease-in-out;
}

.aside__brand {
    grid-area: brand;
    display: flex;
    align-items: center;
    padding-left: var(--p-sm);
    gap: var(--gap-xsm);
}

.aside__brand img {
    width: calc(var(--width-100) - 70px);
    height: calc(var(--height-100) - 70px);
}

.aside__brand span {
    font-size: 22px;
}

.aside__menu {
    grid-area: menu;
    padding: 0 var(--p-sm) var(--p-sm) var(--p-sm);
}

.aside__menu-ul {
    display: flex;
    flex-direction: column;
    height: var(--m-height-100);
    padding: 0;
    list-style: none;
    gap: calc(var(--gap-xsm) + .25rem);
}

.aside__menu-ul a {
    display: flex;
    align-self: center;
    text-decoration: none;
    color: var(--bs-primary);
    background: var(--bs-light);
    padding: var(--p-xsm);
    border-radius: var(--border-radius-xsm);
    gap: var(--gap-xsm);
    transition: all .3s ease;
}

.aside__menu-ul a.active {
    background: var(--bs-primary);
    color: var(--bs-white);
}

.aside__menu-ul a:not(.active):hover,
.aside__menu-ul a:not(.active):focus,
.aside__menu-ul a:not(.active):active {
    background: #e2e6ea;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.aside__menu-ul li:last-child {
    margin-top: auto;
}

.aside__menu-ul li:last-child a {
    background: var(--bs-danger);
    color: var(--bs-white);
    transition: all .3s ease;
}

.aside__menu-ul li:last-child a:hover,
.aside__menu-ul li:last-child a:focus,
.aside__menu-ul li:last-child a:active {
    background: #c82333;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.menu__icon.profile::before {
    content: '\F4DB';
    font-family: var(--font-icons);
}

.menu__icon.analysis::before {
    content: '\F4E8';
    font-family: var(--font-icons);
}

.menu__icon.posts::before {
    content: '\F58A';
    font-family: var(--font-icons);
}

.menu__icon.create::before {
    content: '\F4FC';
    font-family: var(--font-icons);
}

.menu__icon.log-out::before {
    content: '\F307';
    font-family: var(--font-icons);
}

.dashboard__wrapper.collapsed {
    grid-template-columns: 80px 1fr;
}

.dashboard__wrapper.collapsed .dashboard__aside {
    width: 80px;
}

.dashboard__wrapper.collapsed .menu__text {
    display: none;
}

@media(max-width:768px) {
    .dashboard__wrapper {
        grid-template-columns: 80px 1fr;
        transition: grid-template-columns .3s ease-in-out;
    }

    .dashboard__aside {
        width: 80px;
        transition: width .3s ease-in-out;
    }

    .menu__text {
        display: none;
    }
}

.dashboard__main {
    grid-area: main;
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'header''content';
    width: 100%;
}

.dashboard__main-header {
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: max-content 1fr;
    grid-template-areas: 'toggle menu';
    position: sticky;
    top: 0;
    align-items: center;
    background: var(--bs-white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 0px 0px;
    z-index: 999;
}

.aside__toggle {
    grid-area: toggle;
    background: none;
    color: var(--bs-dark);
    border: none;
    font-size: 22px;
    transform: rotate(-180deg);
}

.ham {
    cursor: pointer;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: var(--bs-dark);
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham8 .top {
    stroke-dasharray: 40 160;
}

.ham8 .middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms;
}

.ham8 .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham8.active .top {
    stroke-dashoffset: -64px;
}

.ham8.active .middle {
    transform: rotate(90deg);
}

.ham8.active .bottom {
    stroke-dashoffset: -64px;
}

.dashboard__main-header .header__menu {
    grid-area: menu;
    display: flex;
    justify-content: flex-end;
    width: var(--m-width-100);
}

.dashboard__main-header .header__menu-ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0 var(--p-sm);
    gap: calc(var(--gap-md) - .5rem);
}

.li__btn {
    border: none;
    background: none;
    position: relative;
}

.li__btn.language,
.li__btn.messages,
.li__btn.notifications {
    font-family: var(--font-icons);
    font-size: 22px;
    color: var(--bs-dark);
}

.li__btn.language::before {
    content: '\F3EE';
}

.li__btn.messages::before {
    content: '\F249';
}

.li__btn.notifications::before {
    content: '\F189';
}

.li__btn-badge {
    position: absolute;
    top: 0;
    left: 10px;
    background: var(--bs-danger);
    color: var(--bs-white);
    border-radius: 50%;
    padding: .15rem .35rem;
    font-size: 10px;
}

.li__btn-badge.messages {
    background: var(--bs-warning);
    color: var(--bs-dark);
}

.dashboard__main-container {
    grid-area: content;
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'breadcrumb''content';
    padding: 1.5rem;
    gap: 1.5rem;
}

.dashboard__breadcrumb {
    grid-area: breadcrumb;
    background: var(--bs-white);
    padding: 1rem 1.5rem;
    border-radius: var(--border-radius-xsm);
}

.dashboard__breadcrumb .breadcrumb {
    margin: 0;
}

.breadcrumb a {
    text-decoration: none;
}

.dashboard__main-content {
    grid-area: content;
}

.dashboard__posts-wrapper {
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'filters''posts';
    gap: var(--gap-sm);
    background: var(--bs-white);
    padding: var(--p-sm);
    border-radius: var(--border-radius-xsm);
}

.section__filters {
    grid-area: filters;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: 1fr;
    grid-template-areas: 'header''options';
    gap: var(--gap-xsm);
}

.filter__header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.filter__header span {
    display: flex;
    align-items: center;
    color: var(--bs-dark);
    gap: var(--gap-xsm);
}

.filter__header span::before {
    content: '\F3E0';
    font-family: var(--font-icons);
}

.filter__header button {
    border: none;
    background: none;
}

.filter__options {
    grid-area: options;
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'search-by order-by per-page';
    gap: var(--gap-sm);
}

.filter__options .dropdown-item {
    cursor: pointer;
}

.search__by {
    grid-area: search-by;
}

.search__by button::before {
    content: '\F52A';
    font-family: var(--font-icons);
}

.order__by {
    grid-area: order-by;
}

.order__by button::before {
    content: '\F571';
    font-family: var(--font-icons);
}

.per__page {
    grid-area: per-page;
}

.per__page button::before {
    content: '\F475';
    font-family: var(--font-icons);
}

.section__posts-container {
    grid-area: posts;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-sm);
}

.section__posts {
    display: grid;
    grid-template-rows: 150px 230px;
    grid-template-columns: 1fr;
    grid-template-areas: 'img''info';
    padding: var(--p-xsm);
    gap: calc(var(--gap-sm) - .5rem);
    border-radius: var(--border-radius-xsm);
    border: 1px solid var(--bs-border-color);
}

.section__posts-img {
    grid-area: img;
}

.section__posts-img img {
    width: var(--m-width-100);
    height: var(--m-height-100);
    object-fit: cover;
    border-radius: var(--border-radius-xsm);
}

.section__posts-info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    height: var(--m-height-100);
    gap: calc(var(--gap-sm) - .5rem);
}

.posts__badges-container {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap-xsm) - .25rem);
}

.posts__info-category {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.posts__info-category span,
.section__posts .posts__info-tags,
.section__posts .posts__info-tags span {
    display: flex;
    align-items: center;
    gap: calc(var(--gap-xsm) - .25rem);
}

.posts__info-category span::before {
    content: '\F3D1';
    font-family: var(--font-icons);
}

.section__posts .posts__info-tags span::before {
    content: '\F5B1';
    font-family: var(--font-icons);
}

.posts__info-category .show-btn,
.posts__info-category .edit-btn,
.posts__info-category .delete-btn {
    display: flex;
    align-items: center;
    gap: var(--gap-xsm);
}

.posts__info-category .show-btn::before {
    content: '\F33E';
    font-family: var(--font-icons);
    color: var(--bs-success);
}

.posts__info-category .edit-btn::before {
    content: '\F4CA';
    font-family: var(--font-icons);
    color: var(--bs-primary);
}

.posts__info-category .delete-btn::before {
    content: '\F78A';
    font-family: var(--font-icons);
    color: var(--bs-danger);
}

.section__posts .posts__info-title {
    display: flex;
    flex-direction: column;
}

.posts__info-date {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.posts__info-reaction {
    display: flex;
    gap: calc(var(--gap-sm) - .5rem);
}

.total__like span,
.total__dislike span {
    display: flex;
    align-items: center;
    gap: calc(var(--gap-sm) - .5rem);
}

.total__like span::before {
    content: '\F415';
    font-family: var(--font-icons);
    color: var(--bs-danger);
}

.total__dislike span::before {
    content: '\F770';
    font-family: var(--font-icons);
    color: var(--bs-secondary);
}

@media(max-width:992px) {
    .section__posts-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .filter__options {
        grid-template-rows: repeat(2, max-content);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'search-by search-by''order-by per-page';
        gap: 0;
    }

    .order__by {
        margin-right: .75rem;
    }

    .per__page {
        margin-left: .75rem;
    }
}

@media(max-width:768px) {
    .filter__options {
        grid-template-rows: repeat(3, max-content);
        grid-template-columns: 1fr;
        grid-template-areas: 'search-by''order-by''per-page';
        gap: 0;
    }

    .order__by,
    .per__page {
        margin: 0;
    }
}

@media(max-width:576px) {
    .section__posts-container {
        grid-template-columns: 1fr;
    }
}

.section__create-post {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: 1fr;
    grid-template-areas: 'row-top''row-bottom';
    background: var(--bs-white);
    padding: var(--p-sm);
    border-radius: var(--border-radius-xsm);
}

.create__post-top {
    grid-area: row-top;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'col-left col-right';
    gap: var(--gap-sm);
}

.create__post-left {
    grid-area: col-left;
}

.create__post-left label,
.create__post-left img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: var(--m-width-100);
    height: var(--m-height-100);
    color: #999;
    cursor: pointer;
    border-radius: var(--border-radius-xsm);
    border: 2px dashed var(--bs-border-color);
}

.create__post-left img {
    position: absolute;
    object-fit: cover;
    padding: calc(var(--p-xsm) - .25rem);
    border: none;
}

.create__post-left i {
    font-size: 50px;
}

.create__post-right {
    grid-area: col-right;
}

.create__post-bottom {
    grid-area: row-bottom;
    margin-top: calc(var(--m-sm) - .75rem);
}

@media(max-width:768px) {
    .create__post-top {
        grid-template-rows: repeat(2, max-content);
        grid-template-columns: 1fr;
        grid-template-areas: 'col-left''col-right';
    }

    .create__post-left label {
        height: 200px;
    }
}

.pagination {
    display: flex;
    justify-content: space-between;
}

.pagination .page-item .prev-btn {
    display: flex;
    gap: var(--gap-xsm);
}

.pagination .page-item .prev-btn::before {
    content: '\F12F';
    font-family: var(--font-icons);
}

.pagination .page-item .next-btn {
    display: flex;
    gap: var(--gap-xsm);
}

.pagination .page-item .next-btn::after {
    content: '\F138';
    font-family: var(--font-icons);
}

.page-link:hover {
    color: var(--bs-white);
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.page-item .page-link {
    border-radius: var(--bs-pagination-border-radius);
}

.page-item:first-child .page-link {
    border-top-left-radius: none;
    border-bottom-left-radius: none
}

.page-item:last-child .page-link {
    border-top-right-radius: none;
    border-bottom-right-radius: none
}

.avatar {
    width: calc(var(--width-100) - 60px);
    height: var(--height-100) - 60px;
    border-radius: 50%;
}

.avatar__subtle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--width-100) - 60px);
    height: calc(var(--height-100) - 60px);
    border-radius: 50%;
    color: var(--bs-primary);
    background: var(--bs-primary-bg-subtle);
    cursor: pointer;
}

.flash-animation {
    position: relative;
    overflow: hidden;
}

.flash-animation::before {
    content: '';
    position: absolute;
    top: 0;
    z-index: 2;
    left: -80%;
    width: 50%;
    height: var(--m-height-100);
    display: block;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    transform: skewX(-25deg);
}

.flash-animation:hover::before {
    animation: img-flash 1s;
}

@-webkit-keyframes img-flash {
    100% {
        left: 125%;
    }
}

@keyframes img-flash {
    100% {
        left: 125%;
    }
}

.underline__hover {
    position: relative;
    color: var(--bs-dark);
    text-decoration: none;
}

.underline__hover::before {
    content: '';
    position: absolute;
    width: var(--m-width-100);
    height: 2px;
    border-radius: 4px;
    background-color: var(--bs-dark);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.underline__hover:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.underline__link-hover {
    padding-bottom: 0px;
    background: linear-gradient(to right, currentColor 0%, currentColor 100%);
    background-size: 0px 6%;
    background-repeat: no-repeat;
    background-position: left 100%;
    transition-duration: .5s;
    font-weight: inherit;
    padding: 0;
}

.underline__link-hover:hover {
    background-size: 100% 6%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--m-width-100);
    height: var(--m-height-100);
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius-sm);
}

.overlay-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--m-height-100);
    width: var(--m-width-100);
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, .5);
    border-radius: var(--border-radius-sm);
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-top: 1px solid #dee2e6;
    margin: 0 10px;
}

.input-password {
    position: relative;
    display: flex;
    align-items: center;
}

.icon-password {
    --icon-content: '\F33F';
    position: absolute;
    font-family: var(--font-icons);
    right: 0;
    margin-right: 1rem;
    cursor: pointer;
}

.icon-password::before {
    content: var(--icon-content);
}

.form-control {
    background-color: var(--bs-white);
}

.form-select {
    background-color: var(--bs-white);
    cursor: pointer;
}

.badge {
    border-radius: var(--border-radius-xsm);
}

.breadcrumb-item {
    display: flex;
    align-items: center;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: '\F285';
    font-family: var(--font-icons);
    font-weight: bold;
    font-size: 18px;
    color: rgba(153, 153, 153, 0.5);
}

.breadcrumb-item a {
    font-weight: 500;
    margin-bottom: 2px;
    color: var(--bs-dark);
}

.loader {
    display: grid;
    width: calc(var(--width-100) - 50px);
    aspect-ratio: 1;
}

.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    --c: no-repeat radial-gradient(farthest-side, #25b09b 92%, #0000);
    background: var(--c) 50% 0,
        var(--c) 50% 100%,
        var(--c) 100% 50%,
        var(--c) 0 50%;
    background-size: 12px 12px;
    animation: l12 1s infinite;
}

.loader::before {
    margin: 4px;
    filter: hue-rotate(45deg);
    background-size: 8px 8px;
    animation-timing-function: linear
}

@keyframes l12 {
    100% {
        transform: rotate(.5turn)
    }
}
