:root {
    --wrapper-header-size: 80px;
    --wrapper-main-size: 1fr;
    --wrapper-footer-size: 100px;
    --wrapper-gap-size: 1.5rem;
    --wrapper-padding-size: 0 6rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background: #fff;
}

.wrapper {
    display: grid;
    grid-template-rows: var(--wrapper-header-size) var(--wrapper-main-size) var(--wrapper-footer-size);
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    gap: var(--wrapper-gap-size);
}

/* HEADER STYLE */
.header {
    grid-area: header;
    display: grid;
    position: sticky;
    top: 0;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-areas: "brand menu search";
    align-items: center;
    padding: var(--wrapper-padding-size);
    background: var(--bs-white);
    filter: drop-shadow(1px 5px 5px rgba(0, 0, 0, .05));
    z-index: 10;
}

.brand .brand-img {
    width: 120px;
}

.menu {
    grid-area: menu;
    justify-self: center;
}

.menu .menu-ul,
.offcanvas-menu-ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu .menu-ul {
    gap: 2rem;
    padding: 0 1rem;
}

.menu .menu-ul a,
.offcanvas-menu-ul a {
    text-decoration: none;
    color: var(--bs-secondary);
    transition: all .3s linear;
}

.menu .menu-ul a:hover {
    text-decoration: underline;
    color: var(--bs-primary);
}

.offcanvas-menu-ul {
    flex-direction: column;
    gap: 1rem;
}

.offcanvas-menu-ul li {
    background-color: var(--bs-secondary-bg-subtle);
    padding: .65rem;
    border-radius: .5rem;
    transition: all 0.3s ease;
}

.offcanvas-menu-ul li:hover {
    background-color: var(--bs-primary);
}

.offcanvas-menu-ul li:hover a {
    color: var(--bs-light);
}

.offcanvas-menu-ul i {
    margin-right: .5rem;
}

.header-toggle {
    display: none;
    width: max-content;
    font-size: 30px;
    background: transparent;
    border: none;
}

.search {
    grid-area: search;
    position: relative;
    display: flex;
    align-items: center;
}

input[type='search'] {
    padding-left: 1.75rem;
}

.search-icon {
    position: absolute;
    padding-left: .5rem;
}

@media (max-width: 992px) {
    .header {
        grid-template-columns: 1fr 3fr 30px;
        grid-template-areas: "brand search header-toggle";
    }

    .header-toggle {
        display: block;
    }

    .menu,
    .search-menu-sm {
        display: none;
    }

    .search {
        padding: 0 3rem;
    }
}

@media (min-width: 992px) {

    .offcanvas,
    .offcanvas-backdrop {
        display: none;
    }
}

@media (max-width: 768px) {
    .header {
        grid-template-columns: 1fr 30px;
        grid-template-areas: "brand header-toggle";
    }

    .search {
        display: none;
    }

    .search-menu-sm {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 576px) {
    .header {
        padding: 0 2.5rem;
    }

    .offcanvas {
        width: 60% !important;
    }
}

/* END HEADER STYLE */

.main {
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr max-content 450px;
    grid-template-columns: 1fr;
    grid-template-areas: 'section-one''section-two''section-three';
    gap: 3rem;
    padding: var(--wrapper-padding-size);
}

/* SECTION ONE STYLE */
.section-one {
    grid-area: section-one;
    display: grid;
    grid-template-rows: 300px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'row-top''row-bottom';
    gap: var(--wrapper-gap-size);
}

.row-top {
    grid-area: row-top;
    height: 300px;
    background: var(--bs-white);
    border-radius: 1rem;
}

.banner img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 1rem;
}

.row-bottom {
    grid-area: row-bottom;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    gap: var(--wrapper-gap-size);
}

.row-bottom-rows {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'post-img post-info';
    border-radius: 1rem;
    gap: 1rem;
}

.row-bottom-rows:nth-child(even) {
    direction: rtl;
}

.row-bottom-rows .post-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.row-bottom-rows .post-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: .5rem;
}

.row-bottom-rows .post-title span {
    font-size: 25px;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.post-owner {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.post-reaction {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: #999;
}

.post-reaction>* {
    cursor: pointer;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .section-one .post-content {
        display: none;
    }
}

/* END SECTION ONE STYLE */

/* SECTION TWO STYLE */
.section-two {
    grid-area: section-two;
    display: grid;
    grid-template-rows: 60px 924px;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 'sec-two-row-top col-right''sec-two-row-bottom col-right';
    gap: var(--wrapper-gap-size);
}

.col-left {
    grid-area: col-left;
    display: grid;
    grid-template-rows: repeat(2, 450px);
    grid-template-columns: repeat(2, 1fr);
    gap: var(--wrapper-gap-size);
}

.col-left-row {
    display: flex;
    flex-direction: column;
}

.col-left-row .post-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 1rem;
}

.col-left-row .post-title {
    font-size: 20px;
}

.col-right {
    grid-area: col-right;
    display: grid;
    grid-template-rows: 144px max-content max-content;
    grid-template-columns: 1fr;
    grid-template-areas: 'col-right-row-top''col-right-row-bottom''subscribe';
    gap: 2.5rem;
}

.col-right-row-top {
    grid-area: col-right-row-top;
    display: grid;
    grid-template-rows: repeat(3, 40px);
    grid-template-columns: 1fr;
    gap: .5rem;
}

.col-right-row-top i {
    font-size: 22px;
}

.facebook-card {
    background-color: #5d82d1;
    color: var(--bs-white);
}

.instagram-card {
    background: -webkit-radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: var(--bs-white);
    background-size: 120% 120%;
    background-position: right bottom;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 0;
}

.youtube-card {
    background-color: #ff0000;
    color: var(--bs-white);
}

.col-right-row-bottom {
    grid-area: col-right-row-bottom;
    display: grid;
    grid-template-rows: repeat(6, 40px);
    grid-template-columns: 1fr;
    gap: .5rem;
}

.col-right-row-top a,
.col-right-row-bottom a {
    text-decoration: none;
}

.facebook-card,
.instagram-card,
.youtube-card,
.badge-card-warning,
.badge-card-info,
.badge-card-danger,
.badge-card-primary,
.badge-card-success {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-radius: .25rem;
    height: 100%;
}

.badge-card-warning {
    background: var(--bs-warning-bg-subtle);
    color: var(--bs-warning);
}

.badge-card-info {
    background: var(--bs-info-bg-subtle);
    color: var(--bs-info);
}

.badge-card-danger {
    background: var(--bs-danger-bg-subtle);
    color: var(--bs-danger);
}

.badge-card-primary {
    background: var(--bs-primary-bg-subtle);
    color: var(--bs-primary);
}

.badge-card-success {
    background: var(--bs-success-bg-subtle);
    color: var(--bs-success);
}

.subscribe {
    grid-area: subscribe;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bs-light);
    border-radius: 1rem;
    padding: 3rem;
    gap: 1rem;
    text-align: center;
}

.subscribe input[type="email"] {
    background: var(--bs-white);
}

@media (max-width: 992px) {
    .section-two {
        grid-template-rows: 60px 1fr;
    }

    .col-left {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .section-two {
        grid-template-rows: 60px 1fr max-content;
        grid-template-columns: 1fr;
        grid-template-areas:
            'sec-two-row-top'
            'sec-two-row-bottom'
            'col-right';
        gap: 2.5rem;
    }
}

@media (max-width: 576px) {
    .main {
        padding: 0 2.5rem;
    }
}

/* END SECTION TWO STYLE */

/* SECTION THREE STYLE */
.section-three {
    grid-area: section-three;
    display: grid;
    grid-template-rows: 60px 300px;
    grid-template-columns: 1fr;
    grid-template-areas: 'section-three-title''section-three-swiper';
    position: relative;
    width: 100%;
    height: 300px;
    gap: var(--wrapper-gap-size);
}

.section-three-title {
    grid-area: section-three-title;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

swiper-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.slide-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    margin-bottom: 2rem;
    color: var(--bs-white);
}

.badge-explore {
    background: var(--bs-dark-bg-subtle);
    color: var(--bs-dark);
    padding: .25rem .5rem;
    border-radius: .25rem;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.badge-explore:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
}

@media (max-width: 768px) {
    .section-three {
        grid-template-rows: 100px 300px;
        gap: 2.5rem;
    }

    .section-three-title {
        display: grid;
        grid-template-rows: 100px 30px;
        grid-template-columns: 1fr;
    }
}

/* END SECTION THREE STYLE */

/* SECTION FOOTER*/
.footer {
    grid-area: footer;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 'copyright brand social-icon';
    background: rgb(25, 26, 31);
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    color: var(--bs-white);
}

.footer .copyright {
    grid-area: copyright;
}

.footer .brand {
    grid-area: brand;
    justify-self: center;
}

.footer .brand img {
    width: 150px;
}

.footer .social-icon {
    grid-area: social-icon;
    display: flex;
    gap: 1rem;
    margin-left: auto;
}

@media (max-width: 768px) {
    .footer {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas: 'brand''social-icon''copyright';
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
        color: var(--bs-white);
        height: 200px;
        gap: 2rem;
    }

    .footer .copyright,
    .footer .brand,
    .footer .social-icon {
        justify-self: center;
    }

    .footer .social-icon {
        margin-left: 0;
    }
}

/* END SECTION FOOTER */

/* SECTION AUTH */
.register .main,
.login .main {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'auth-content';
    height: 60vh;
    padding: 1rem;
}

.register .auth-header,
.login .auth-header {
    font-size: 25px;
    text-align: center;
    padding-bottom: 1rem;
}

.login .auth-content {
    grid-area: auth-content;
    display: flex;
    flex-direction: column;
    height: max-content;
    margin: 0 30%;
    padding: 1.5rem;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@media(max-width:992px) {
    .login .auth-content {
        margin: 0 20%;
    }
}

@media(max-width:768px) {
    .login .auth-content {
        margin: 0 5rem;
    }
}

@media (max-width: 576px) {
    .login .auth-content {
        margin: 0 1rem;
    }
}

.register .auth-content {
    grid-area: auth-content;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'illustration content';
    padding: 0 6rem;
    gap: 2rem;
}

.illustration {
    grid-area: illustration;
    border-right: 1px dashed var(--bs-border-color);
}

.illustration img {
    width: 100%;
}

.content {
    grid-area: content;
}

/* END SECTION AUTH */

/* SECTION DASHBOARD */
.dashboard-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 'dash-aside dash-content';
    width: 100%;
    min-height: 100vh;
    background: var(--bs-body-bg);
    padding: 2rem;
    gap: var(--wrapper-gap-size);
}

.dash-aside {
    grid-area: dash-aside;
    background: var(--bs-white);
    border-radius: .5rem;
    padding: 1.5rem;
}

.dash-aside .navbar-nav {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.dash-aside .nav-item {
    background: rgba(0, 0, 0, .03);
    border-radius: .5rem;
    padding: 0 .75rem;
}

.dash-aside .nav-item:hover {
    background: var(--bs-primary);
}

.dash-aside .nav-item:last-child:hover {
    background: var(--bs-danger);
}

.dash-aside .nav-item:hover .nav-link-icon,
.dash-aside .nav-item:hover .nav-link-text {
    color: var(--bs-white);
}

.dash-aside .nav-link {
    display: flex;
}

.nav-link-icon,
.nav-link-text {
    color: var(--bs-primary);
}

.text-placeholder {
    font-size: 12px;
    color: #999;
}

.dash-aside hr {
    border-style: dashed;
}

.dash-content {
    grid-area: dash-content;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    padding: 1.5rem;
    background: var(--bs-white);
    border-radius: .5rem;
}

.create-container {
    display: grid;
    grid-template-rows: 1fr max-content;
    grid-template-columns: 1fr;
    grid-template-areas: 'create-row-top''create-row-bottom';
}

.create-row-top {
    grid-area: create-row-top;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'create-col-left create-col-right';
    gap: var(--wrapper-gap-size);
}

.create-col-left .post-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px dashed var(--bs-border-color);
    border-radius: .5rem;
    cursor: pointer;
}

.create-col-left .post-image i {
    font-size: 50px;
}

.create-col-left .post-image>* {
    color: #999;
}

.create-row-bottom {
    grid-area: create-row-bottom;

}

.create-row-bottom {
    grid-area: create-row-bottom;
}

@media (max-width: 768px) {
    .dash-aside {
        padding: 1rem;
    }

    .dash-aside .col-left-text,
    .dash-aside .text-placeholder {
        display: none;
    }

    .dash-aside .nav-item {
        justify-content: center;
    }

    .dash-aside .nav-link {
        justify-content: center;
    }
}

/* END SECTION DASHBOARD */

/* SECTION CUSTOM STYLE */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: .5rem;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-top: 1px solid #dee2e6;
    margin: 0 10px;
}

.input-password {
    position: relative;
    display: flex;
    align-items: center;
}

.icon-password {
    --icon-content: '\F33F';
    position: absolute;
    font-family: 'bootstrap-icons';
    right: 0;
    margin-right: 1rem;
    cursor: pointer;
}

.icon-password::before {
    content: var(--icon-content);
}

.form-control {
    background: var(--bs-white);
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
}

.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    --c: no-repeat radial-gradient(farthest-side, #25b09b 92%, #0000);
    background:
        var(--c) 50% 0,
        var(--c) 50% 100%,
        var(--c) 100% 50%,
        var(--c) 0 50%;
    background-size: 12px 12px;
    animation: l12 1s infinite;
}

.loader::before {
    margin: 4px;
    filter: hue-rotate(45deg);
    background-size: 8px 8px;
    animation-timing-function: linear
}

@keyframes l12 {
    100% {
        transform: rotate(.5turn)
    }
}

/* END SECTION CUSTOM STYLE */
