:root {
    --font-family: "Poppins", sans-serif;
    --font-icons: 'bootstrap-icons';
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --gap-xsm: .5rem;
    --gap-sm: 1.5rem;
    --gap-md: 2.5rem;
    --gap-lg: 4.5rem;
    --width-100: 100px;
    --height-100: 100px;
    --m-width-100: 100%;
    --m-height-100: 100%;
    --p-xsm: .5rem;
    --p-sm: 1.5rem;
    --p-md: 2.5rem;
    --p-lg: 4.5rem;
    --m-xsm: .5rem;
    --m-sm: 1.5rem;
    --m-md: 2.5rem;
    --m-lg: 4.5rem;
    --border-radius-sm: .5rem;
    --border-radius-md: 2.5rem;
    --border-radius-lg: 5rem;
    --wrapper-p-sm: 0 2.5rem;
    --wrapper-p-lg: 0 6rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--blog-font-family);
    font-weight: var(--fw-400);
    font-style: normal;
}

body {
    background: var(--bs-light);
}

.wrapper {
    display: grid;
    grid-template-rows: 80px 1fr 100px;
    grid-template-columns: 1fr;
    grid-template-areas: 'header''main''footer';
    gap: var(--gap-sm);
}

.wrapper__header {
    grid-area: header;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-areas: 'brand menu search';
    align-items: center;
    padding: var(--wrapper-p-lg);
    background: var(--bs-white);
    filter: drop-shadow(1px 5px 5px rgba(0, 0, 0, .05));
    z-index: 999;
}

.header__brand {
    grid-area: brand;
}

.header__brand-img {
    width: var(--width-100);
}

.header__menu {
    grid-area: menu;
    justify-self: center;
}

.header__menu-ul,
.header__offcanvas-ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__menu-ul {
    gap: calc(var(--gap-md) - .5rem);
    padding: 0 calc(var(--p-sm) - .5rem);
}

.header__menu-ul a,
.header__offcanvas-ul a {
    text-decoration: none;
    color: var(--bs-secondary);
    font-weight: var(--fw-500);
    transition: all .3s linear;
}

.header__menu-ul a:hover {
    color: var(--bs-dark);
}

.header__search {
    grid-area: search;
    display: flex;
    align-items: center;
    position: relative;
}

.header__search-icon {
    position: absolute;
    padding-left: var(--p-xsm);
}

.header__search-icon::before {
    content: '\F52A';
    font-family: var(--font-icons);
}

.header__search input[type='search'],
.header__search-sm input[type='search'] {
    padding-left: calc(var(--p-sm) + .25rem);
}

.header__hamburger {
    display: none;
    width: max-content;
    font-size: 30px;
    background: transparent;
    border: none;
}

.header__hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 22px;
    height: 22px;
}

.bar {
    width: var(--m-width-100);
    height: 3px;
    background-color: var(--bs-secondary);
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

.header__offcanvas-ul {
    flex-direction: column;
    gap: calc(var(--gap-sm) - .5rem);
}

.header__offcanvas-ul a {
    display: block;
}

.header__offcanvas-ul li {
    padding: calc(var(--p-xsm) + .15rem);
    border-radius: var(--border-radius-sm);
    transition: all 0.3s ease;
    background-color: var(--bs-secondary-bg-subtle);
}

.header__offcanvas-ul li:hover {
    background-color: var(--bs-primary);
}

.header__offcanvas-ul li:hover a {
    color: var(--bs-light);
}

.header__offcanvas-ul i {
    margin-right: var(--m-xsm);
}

@media (max-width: 992px) {
    .wrapper__header {
        grid-template-columns: 1fr 3fr 30px;
        grid-template-areas: "brand search header__hamburger";
    }

    .header__hamburger {
        display: block;
    }

    .header__menu,
    .header__search-sm {
        display: none;
    }

    .header__search {
        padding: 0 calc(var(--p-sm) * 2);
    }
}

@media (min-width: 992px) {

    .offcanvas,
    .offcanvas-backdrop {
        display: none;
    }
}

@media (max-width: 768px) {
    .wrapper__header {
        grid-template-columns: 1fr 30px;
        grid-template-areas: "brand header__hamburger";
    }

    .header__search {
        display: none;
    }

    .header__search-sm {
        display: flex;
        align-items: center;
        margin-bottom: var(--m-sm);
        position: relative;
    }
}

@media (max-width: 576px) {
    .wrapper__header {
        padding: var(--wrapper-p-sm);
    }

    .offcanvas {
        width: calc(var(--m-width-100) - 40%) !important;
    }
}

.main__wrapper {
    grid-area: main;
    display: grid;
    grid-template-rows: max-content 1fr max-content 450px;
    grid-template-columns: 1fr;
    grid-template-areas: 'banner''section-one''section-two''section-three';
    padding: var(--wrapper-p-lg);
    gap: calc(var(--gap-md) - .5rem);
}

@media(max-width:576px) {
    .main__wrapper {
        padding: var(--wrapper-p-sm);
    }
}

.section__banner {
    grid-area: banner;
    position: relative;
    border-radius: var(--border-radius-sm);
}

.section__banner-img {
    width: var(--m-width-100);
    height: calc(var(--height-100) * 3);
    object-fit: cover;
    border-radius: var(--border-radius-sm);
}

.section__banner-text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-20%, -50%);
}

.section__banner-text span {
    font-size: 3em;
    font-weight: var(--fw-500);
    color: #987070;
}

@media(max-width:576px) {
    .section__banner-img {
        height: calc(var(--height-100) + 50px);
    }

    .section__banner-text span {
        font-size: 25px;
    }
}

.section__one {
    grid-area: section-one;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'title''content';
}

.section__title {
    grid-area: title;
    display: flex;
    flex-direction: column;
}

.section__title-text {
    display: flex;
    align-items: center;
    font-size: 25px;
    gap: var(--gap-xsm);
}

.section__one-icon::before {
    content: '\F4A3';
    font-family: var(--font-icons);
}

.section__one-container {
    grid-area: content;
    display: grid;
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: 1fr;
    gap: calc(var(--gap-md) - .5rem);
    position: relative;
}

.section__one-content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'img details';
    align-items: center;
    padding: var(--p-sm);
    gap: calc(var(--gap-sm) - .5rem);
    background: var(--bs-white);
    box-shadow:
        rgba(27, 31, 35, 0.04) 0px 1px 0px,
        rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    border-radius: var(--border-radius-sm);
}

.section__one-content:nth-child(even) {
    direction: rtl;
}

.section__one-img {
    grid-area: img;
    width: var(--m-width-100);
    height: calc((var(--height-100)* 2 + 40px));
    border-radius: var(--border-radius-sm) calc(var(--border-radius-md) + .5rem);
    overflow: hidden;
    position: relative;
}

.section__one-content:nth-child(even) .section__one-img {
    border-radius: calc(var(--border-radius-md) + .5rem) var(--border-radius-sm);
}

.section__one-img img {
    width: var(--m-width-100);
    height: var(--m-height-100);
    object-fit: cover;
    border-radius: var(--border-radius-sm);
    transition: transform 0.5s ease;
}

.section__one-img:hover img {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.section__one-content .overlay-text a {
    font-size: 30px;
    color: var(--bs-white);
}

.section__one-img:hover .overlay-text {
    opacity: 1;
}

.section__one-details {
    grid-area: details;
    display: flex;
    flex-direction: column;
    width: var(--m-width-100);
    height: var(--m-height-100);
    gap: calc(var(--gap-xsm) + .25rem) .75rem;
}

.section__one-tag a {
    display: flex;
    width: max-content;
    gap: var(--gap-xsm);
}

.section__one-tag a::before {
    content: '\F287';
    font-family: var(--font-icons);
}

.section__one-title span {
    font-size: 25px;
}

.section__one-owner--container {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.section__owner {
    display: flex;
    align-items: center;
    gap: calc(var(--gap-sm) - .5rem);
}

.section__reactions {
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
    color: #999;
}

.reaction__like span,
.reaction__dislike span {
    display: flex;
    align-items: center;
    gap: var(--gap-xsm);
}

.reaction__like span::before {
    content: '\F415';
    font-family: var(--font-icons);
}

.reaction__dislike span::before {
    content: '\F770';
    font-family: var(--font-icons);
}

.reaction__like span::before,
.reaction__dislike span::before {
    cursor: pointer;
    font-size: 20px;
}

.reaction__like.active span::before,
.reaction__like:hover span::before {
    color: var(--bs-danger);
    filter: drop-shadow(1px 1px 3px var(--bs-danger));
}

.reaction__dislike.active span::before,
.reaction__dislike:hover span::before {
    color: #6c757d;
    filter: drop-shadow(1px 1px 3px #6c757d);
}

@media (max-width: 992px) {
    .section__one-content {
        grid-template-rows: repeat(2, max-content);
        grid-template-columns: 1fr;
        grid-template-areas: 'img''details';
    }

    .section__one-img {
        width: var(--m-width-100);
        height: calc(var(--height-100) * 3);
    }

    .section__one-content:nth-child(even) {
        direction: ltr;
    }

    .section__one-content:nth-child(even) .section__one-img {
        border-radius: var(--border-radius-sm) calc(var(--border-radius-md) + .5rem);
    }
}

@media(max-width:576px) {
    .section__one-owner--container {
        display: flex;
        flex-direction: column;
    }

    .section__reactions {
        justify-content: center;
        gap: var(--gap-md);
    }
}

@media(max-width:440px) {
    .section__one-content {
        grid-template-rows: max-content 1fr;
    }
}

.section__two {
    grid-area: section-two;
    display: grid;
    grid-template-rows: 60px max-content;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 'title col-right''content col-right';
    gap: var(--gap-sm);
}

.section__two-icon::before {
    content: '\F484';
    font-family: var(--font-icons);
}

.section__two-container {
    grid-area: content;
    display: grid;
    grid-template-rows: repeat(2, 400px);
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-sm);
}

.section__two-content {
    overflow: hidden;
    border-radius: calc(var(--border-radius-md) - .5rem);
    border: 1px solid var(--bs-border-color);
    transition: transform 0.5s ease;
}

.section__two-img {
    width: var(--m-width-100);
    height: var(--m-height-100);
    position: relative;
}

.section__two-img img {
    width: var(--m-width-100);
    height: var(--m-height-100);
    object-fit: cover;
    border-radius: calc(var(--border-radius-md) - .5rem);
    transition: transform 0.5s ease;
}

.section__two-content:hover {
    transform: translateY(-10px);
}

.section__two-content:hover .section__two-img img {
    transform: scale(1.05);
}

.card__img-overlay {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: var(--m-width-100);
    height: calc(var(--m-height-100) - 70%);
    background: var(--bs-white);
    padding: calc(var(--p-sm) - .5rem) calc(var(--p-md) - .5rem);
    border-top-left-radius: calc(var(--p-md) + .5rem);
    border-bottom-left-radius: calc(var(--p-md) - .5rem);
    border-bottom-right-radius: calc(var(--p-md) - .5rem);
    transition: height 0.5s ease-in-out;
}

.card__img-overlay:hover {
    height: calc(var(--m-height-100) - 60%);
}

.card__img-overlay .avatar__subtle,
.card__img-overlay .avatar {
    width: calc(var(--width-100) - 50px);
    height: calc(var(--height-100) - 50px);
}

.card__img-overlay .avatar__subtle {
    color: var(--bs-danger);
    background: var(--bs-danger-bg-subtle);
}

.card__img-overlay .section__one-owner {
    display: flex;
    align-items: center;
    gap: calc(var(--gap-sm) - .5rem);
}

.card__img-overlay .owner__text {
    display: flex;
    flex-direction: column;
}

.card__img-overlay .owner__text span {
    font-weight: var(--fw-500);
}

.section__two-content .post__date span {
    display: flex;
    gap: var(--gap-xsm);
    font-size: 13px;
    color: #999;
}

.section__two-content .post__date span::before {
    content: '\F217';
    font-family: var(--font-icons);
}

.reaction__liked span {
    display: flex;
    align-items: center;
    gap: var(--gap-xsm);
}

.reaction__liked span::before {
    content: '\F415';
    font-family: var(--font-icons);
    color: var(--bs-danger);
    font-size: 20px;
}

.section__two-title {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

.section__two-title span {
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.card__img-overlay:hover .section__two-title {
    height: auto;
    margin-top: var(--m-xsm);
    transition: height 0.5s ease-in-out;
}

.card__img-overlay:hover .section__two-title span {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.section__two-details {
    display: flex;
    flex-direction: column;
    height: max-content;
    gap: calc(var(--gap-xsm) -.25rem);
}

.section__paginate {
    padding-top: var(--p-xsm);
    border-top: 1px solid var(--bs-border-color);
}

.section__two-right-container {
    grid-area: col-right;
    display: grid;
    grid-template-rows: 144px max-content max-content;
    grid-template-columns: 1fr;
    grid-template-areas: 'social''categories''subscribe';
    gap: var(--gap-md);
}

.section__two-social {
    grid-area: social;
    display: grid;
    grid-template-rows: repeat(3, 50px);
    grid-template-columns: 1fr;
    gap: var(--gap-xsm);
}

.section__two-social a {
    color: var(--bs-white);
    text-decoration: none;
}

.social__card {
    display: flex;
    align-items: center;
    padding: 0 calc(var(--p-sm) - .5rem);
    border-radius: calc(var(--border-radius-sm) - .25rem);
}

.bg-facebook {
    background: #5d82d1;
}

.bg-youtube {
    background: #ff0000;
}

.bg-instagram {
    background: -webkit-radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-size: 120% 120%;
    background-position: right bottom;
}

.facebook__link span,
.instagram__link span,
.youtube__link span {
    display: flex;
    align-items: center;
    gap: calc(var(--gap-sm) - .5rem);
}

.facebook__link span::before,
.instagram__link span::before,
.youtube__link span::before {
    font-family: var(--font-icons);
    font-size: 22px;
}

.facebook__link span::before {
    content: '\F344';
}

.instagram__link span::before {
    content: '\F437';
}

.youtube__link span::before {
    content: '\F62B';
}

.section__two-categories {
    grid-area: categories;
    display: grid;
    grid-template-rows: repeat(6, 50px);
    grid-template-columns: 1fr;
    gap: var(--gap-xsm);
}

.section__two-sub-title {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: var(--fw-500);
    gap: var(--gap-xsm);
    color: var(--bs-dark);
}

.section__two-sub-title::before {
    content: '\F444';
    font-family: var(--font-icons);
}

.badge-card {
    padding: 0 calc(var(--p-sm) - .5rem);
    border-radius: calc(var(--border-radius-sm) - .25rem);
}

.badge-card a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--m-height-100);
    text-decoration: none;
}

.section__two-subscribe {
    grid-area: subscribe;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--bs-white);
    border: 1px solid var(--bs-border-color);
    border-radius: var(--border-radius-sm);
    padding: calc(var(--p-md) + .5rem);
    gap: calc(var(--gap-sm) - .5rem);
}

.section__two-subscribe input[type="email"] {
    background: var(--bs-white);
}

@media (max-width: 992px) {
    .section__two {
        grid-template-rows: 60px max-content 60px max-content;
        grid-template-columns: 1fr;
        grid-template-areas: 'title''content''section__paginate''col-right';
    }

    .section__two-social {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        gap: calc(var(--gap-sm) - .5rem);
    }

    .social__card {
        flex-direction: column;
        justify-content: center;
    }

    .facebook__link span,
    .instagram__link span,
    .youtube__link span {
        flex-direction: column;
        text-align: center;
        font-size: 17px;
        gap: calc(var(--gap-xsm) - .25rem);
    }

    .facebook__link span::before,
    .instagram__link span::before,
    .youtube__link span::before {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .section__two-container {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 576px) {
    .section__paginate {
        display: flex;
        justify-content: center;
    }
}

.main__section-three {
    grid-area: section-three;
    display: grid;
    grid-template-rows: 60px 300px;
    grid-template-columns: 1fr;
    grid-template-areas: 'title''swiper';
    position: relative;
    width: var(--m-width-100);
    height: 300px;
    gap: var(--gap-sm);
}

.title-three-icon::before {
    content: '\F466';
    font-family: var(--font-icons);
}

.section__three-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section__three-swiper {
    grid-area: swiper;
}

swiper-container {
    position: absolute;
    width: var(--m-width-100);
    height: var(--m-height-100);
}

swiper-slide {
    display: grid;
    grid-template-rows: 180px 1fr;
    grid-template-areas: 'img''content';
    grid-template-columns: 1fr;
    border: 1px solid var(--bs-border-color);
    border-top-left-radius: var(--border-radius-sm);
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: var(--border-radius-sm);
    padding: .25rem;
}

.section__three-img {
    grid-area: img;
    justify-self: center;
    align-self: end;
    width: var(--m-width-100);
    height: var(--m-height-100);
}

.section__three--slide-img {
    width: var(--m-width-100);
    height: var(--m-height-100);
    object-fit: cover;
    border-top-left-radius: var(--border-radius-sm);
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: var(--border-radius-sm);
}

.section__three-content {
    grid-area: content;
    color: var(--bs-dark);
    padding: .5rem .75rem;
}

.slide__content-text span {
    font-size: 1.25rem;
}

.badge-explore {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--bs-white);
    background: rgba(0, 0, 0, .2);
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.badge-explore::before {
    content: '\F33E';
    font-family: var(--font-icons);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.badge-explore:hover {
    background: var(--bs-dark);
    color: var(--bs-white);
}

@media (max-width: 768px) {
    .main__section-three {
        grid-template-rows: 100px 300px;
        gap: 2.5rem;
    }

    .section__three-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 458px) {
    .main__section-three {
        gap: 3.5rem;
    }
}

.main__footer {
    grid-area: footer;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 'copyright brand social';
    background: rgb(25, 26, 31);
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    color: var(--bs-white);
}

.footer__copyright {
    grid-area: copyright;
}

.footer__brand {
    grid-area: brand;
    justify-self: center;
}

.footer__brand-img {
    width: 150px;
}

.footer__social {
    grid-area: social;
    display: flex;
    gap: calc(var(--gap-sm) - .5rem);
    margin-left: auto;
}

.footer__social-link {
    color: var(--bs-white);
}

@media (max-width: 768px) {
    .main__footer {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas: 'brand''social''copyright';
        padding: 1rem 0;
        height: 200px;
        gap: calc(var(--gap-md) - .5rem);
    }

    .footer__copyright,
    .footer__brand,
    .footer__social {
        justify-self: center;
    }

    .footer__social {
        margin-left: 0;
    }
}


.post__wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'about content';
    padding: var(--wrapper-p-lg);
    gap: var(--gap-sm);
}

.post__about {
    grid-area: about;
    display: grid;
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: 1fr;
    grid-template-areas: 'img''category''tags';
    gap: var(--gap-sm);
}

.post__about a {
    text-decoration: none;
}

.post__img {
    grid-area: img;
    width: var(--m-width-100);
    height: 400px;
}

.post__img--img {
    width: var(--m-width-100);
    height: var(--m-height-100);
    object-fit: cover;
    border-radius: var(--border-radius-sm);
}

.post__category {
    grid-area: category;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.post__category-title,
.post__tags-title {
    display: flex;
    align-items: center;
    gap: var(--gap-xsm);
    font-size: 20px;
    font-weight: 500;
}

.post__category-title::before {
    content: '\F444';
    font-family: var(--font-icons);
}

.post__tags {
    grid-area: tags;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    width: var(--m-width-100);
}

.post__tags-title::before {
    content: '\F5B2';
    font-family: var(--font-icons);
}

.post__tags .tags {
    display: block;
}

.post__tags .tags span {
    margin-bottom: .25rem;
}

.post__category .badge,
.post__tags .badge {
    padding: .5rem;
}

.post__content {
    grid-area: content;
}

.post__content-title {
    font-size: 25px;
    font-weight: 500;
}

.post__content-subtitle {
    color: #999;
}

@media (max-width:768px) {

    .post__wrapper {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas: 'content''about';
        padding: var(--wrapper-p-lg);
        gap: var(--gap-sm);
    }

    .post__about {
        grid-area: about;
        display: grid;
        grid-template-rows: repeat(3, max-content);
        grid-template-columns: 1fr;
        grid-template-areas: 'img''category''tags';
        gap: var(--gap-sm);
        height: max-content;
    }
}

@media (max-width:576px) {
    .post__wrapper {
        padding: 0 2.5rem;
    }
}

.posts__wrapper {
    display: grid;
    grid-template-rows: 150px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'header''content';
    padding: var(--wrapper-p-lg);
    gap: 2.5rem;
}

.posts__header {
    grid-area: header;
    position: relative;
}

.posts__header-img {
    width: var(--m-width-100);
    height: var(--m-height-100);
    object-fit: cover;
    border-radius: var(--border-radius-sm);
}

.posts__header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    font-weight: bold;
    background: rgba(0, 0, 0, .05);
    padding: .25rem 1.5rem;
}

.posts__content {
    grid-area: content;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 2.5rem;
}

.posts__content-row {
    display: grid;
    grid-template-rows: 250px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'info content img';
    gap: var(--gap-sm);
    border: 1px solid var(--bs-border-color);
    border-radius: .5rem;
    padding: 2.5rem;
}

.content__row-info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap-sm) - .5rem);
}

.row__info-tags a {
    text-decoration: none;
}

.row__info-tags span {
    display: flex;
    align-items: center;
    width: max-content;
    margin-bottom: .5rem;
}

.row__info-tags span::before {
    content: '\F287';
    font-family: var(--font-icons);
    margin-right: .5rem;
}

.row__info-title a {
    text-decoration: none;
    color: var(--bs-dark);
    font-size: 1.5rem;
}

.row__info-avatar {
    display: flex;
    align-items: center;
    gap: var(--gap-xsm);
}

.row__info-avatar .avatar__subtle,
.row__info-avatar .avatar {
    width: 60px !important;
    height: 60px !important;
}

.content__row-content {
    grid-area: content;
}

.content__row-img {
    grid-area: img;
    width: var(--m-width-100);
    height: var(--m-height-100);
}

.content__row--img {
    width: var(--m-width-100);
    height: var(--m-height-100);
    object-fit: cover;
    border-radius: var(--border-radius-sm);
}

@media(max-width:992px) {
    .posts__content-row {
        grid-template-rows: max-content 1fr;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'info info''content img';
    }
}

@media(max-width:768px) {
    .posts__content-row {
        grid-template-rows: max-content max-content 300px;
        grid-template-columns: 1fr;
        grid-template-areas: 'info''content''img';
    }
}

@media(max-width:576px) {

    .posts__header-text {
        font-size: 20px;
    }

    .posts__content-row {
        grid-template-rows: max-content max-content 200px;
    }
}

.tag__wrapper {
    display: grid;
    grid-template-rows: 150px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'header''content';
    padding: var(--wrapper-p-lg);
    gap: var(--gap-sm);
}

.tag__header {
    grid-area: header;
    position: relative;
}

.tag__header-img {
    width: var(--m-width-100);
    height: var(--m-height-100);
    object-fit: cover;
    border-radius: var(--border-radius-sm);
}

.tag__header-text {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-30%, -50%);
    font-size: 35px;
    font-weight: bold;
    background: rgba(0, 0, 0, .05);
    padding: .25rem 1.5rem;
}

.tag__content {
    grid-area: content;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-sm);
}

.tagged__post {
    display: grid;
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: 1fr;
    grid-template-areas: 'img''content''tags';
    gap: var(--gap-sm);
    border: 1px solid var(--bs-border-color);
    border-radius: var(--border-radius-sm);
    padding: 1rem;
}

.tagged__post-img {
    grid-area: img;
    width: var(--m-width-100);
    height: 200px;
}

.tagged__post--img {
    width: var(--m-width-100);
    height: var(--m-height-100);
    object-fit: cover;
    border-radius: var(--border-radius-sm);
}

.tagged__post-content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: var(--gap-xsm);
}

.tagged__post-title {
    font-size: 20px;
}

.tagged__post-subtitle {
    color: #999;
}

.tagged__post-btn {
    background: var(--bs-primary);
    color: var(--bs-white);
    text-decoration: none;
    padding: .5rem 1.5rem;
    border-radius: var(--border-radius-sm);
}

.tagged__post-tags {
    grid-area: tags;
    height: max-content;
}

.tagged__post-tags a {
    text-decoration: none;
}

.tagged__post-tags .badge {
    font-size: 0.85rem;
    padding: 0.4em 0.6em;
}


@media(max-width:992px) {

    .tag__content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:768px) {

    .tag__header-text {
        left: 20%;
        transform: translate(-10%, -50%);
        font-size: 25px;
    }

    .tag__content {
        grid-template-columns: 1fr;
    }

}

@media(max-width:576px) {

    .tag__header-text {
        left: 20%;
        transform: translate(-10%, -50%);
        background: rgba(0, 0, 0, .3);
        font-size: 16px;
        color: var(--bs-white);
    }
}

.categories__wrapper {
    display: grid;
    grid-template-rows: 150px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'header''content';
    padding: var(--wrapper-p-lg);
    gap: 2.5rem;
}

.categories__header {
    grid-area: header;
    position: relative;
}

.categories__header-img {
    width: var(--m-width-100);
    height: var(--m-height-100);
    object-fit: cover;
    border-radius: var(--border-radius-sm);
}

.categories__content {
    grid-area: content;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-sm);
}

.categories__content-row {
    display: grid;
    grid-template-rows: 300px max-content max-content;
    grid-template-columns: 1fr;
    grid-template-areas: 'img''title''description';
    gap: var(--gap-xsm);
    border: 1px solid var(--bs-border-color);
    padding: 1rem;
    border-radius: var(--border-radius-sm);
}

.categories__content-img {
    grid-area: img;
    position: relative;
}

.categories__content--img {
    width: var(--m-width-100);
    height: var(--m-height-100);
    object-fit: cover;
    border-radius: var(--border-radius-sm);
}

.overlay-text a {
    color: var(--bs-white);
    font-size: 25px;
}

.categories__content-img:hover .overlay-text {
    opacity: 1;
}

.categories__content-title {
    grid-area: title;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.categories__content-desc {
    grid-area: description;
    color: #999;
}




.main__auth .main__wrapper {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'content';
    height: max-content;
    padding: 1rem;
}

.auth__content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    height: max-content;
    margin: 0 30%;
    padding: 1.5rem;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.auth__header {
    font-size: 25px;
    text-align: center;
    padding-bottom: 1rem;
}

.auth__social-facebook {
    color: #285AEB;
}

.auth__social-twitter {
    color: var(--bs-dark);
}

.auth__social-google {
    color: var(--bs-info);
}

.auth__social-facebook i,
.auth__social-twitter i,
.auth__social-google i {
    border: 1px solid;
    border-radius: .5rem;
    padding: .45rem;
}

@media(max-width:992px) {
    .auth__content {
        margin: 0 20%;
    }
}

@media(max-width:768px) {
    .auth__content {
        margin: 0 5rem;
    }
}

@media (max-width: 576px) {
    .auth__content {
        margin: 0 1rem;
    }
}

.auth__content.register {
    grid-area: content;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'illustration content';
    padding: 0;
    margin: 0 5rem;
}

.auth__illustration {
    grid-area: illustration;
}

.auth__illustration-img {
    width: var(--m-width-100);
}

.auth__content--content {
    grid-area: content;
}

.auth__illustration,
.auth__content--content {
    padding: 2rem;
}






/* SECTION DASHBOARD */
.dashboard-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 'dash-aside dash-content';
    width: var(--m-width-100);
    min-height: 100vh;
    background: var(--bs-body-bg);
    padding: 2rem;
    gap: var(--gap-sm);
}

.dash-aside {
    grid-area: dash-aside;
    background: var(--bs-white);
    border-radius: .5rem;
    padding: 1.5rem;
}

.dash-aside .navbar-nav {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xsm);
}

.dash-aside .nav-item {
    background: rgba(0, 0, 0, .03);
    border-radius: .5rem;
    padding: 0 .75rem;
}

.dash-aside .nav-item:hover {
    background: var(--bs-primary);
}

.dash-aside .nav-item:last-child:hover {
    background: var(--bs-danger);
}

.dash-aside .nav-item:hover .nav-link-icon,
.dash-aside .nav-item:hover .nav-link-text {
    color: var(--bs-white);
}

.dash-aside .nav-link {
    display: flex;
}

.nav-link-icon,
.nav-link-text {
    color: var(--bs-primary);
}

.text-placeholder {
    font-size: 12px;
    color: #999;
}

.dash-aside hr {
    border-style: dashed;
}

.dash-content {
    grid-area: dash-content;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    padding: 1.5rem;
    background: var(--bs-white);
    border-radius: .5rem;
}

@media (max-width: 768px) {
    .dash-aside {
        padding: 1rem;
    }

    .nav-link-icon i {
        margin-right: 0 !important;
    }

    .dash-aside .nav-link-text,
    .dash-aside .text-placeholder {
        display: none;
    }

    .dash-aside .nav-item {
        justify-content: center;
    }

    .dash-aside .nav-link {
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .dashboard-wrapper {
        padding: 1rem;
    }
}

/* END SECTION DASHBOARD */

/* SECTION CREATE POST */
.create-container {
    display: grid;
    grid-template-rows: 1fr max-content;
    grid-template-columns: 1fr;
    grid-template-areas: 'create-row-top''create-row-bottom';
}

.create-row-top {
    grid-area: create-row-top;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'create-col-left create-col-right';
    gap: var(--gap-sm);
}

.create-col-left .post-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--m-width-100);
    height: var(--m-height-100);
    border: 1px dashed var(--bs-border-color);
    border-radius: .5rem;
    cursor: pointer;
}

.create-col-left .post-image i {
    font-size: 50px;
}

.create-col-left .post-image>* {
    color: #999;
}

.create-row-bottom {
    grid-area: create-row-bottom;
}

.create-row-bottom {
    grid-area: create-row-bottom;
}

@media(max-width:768px) {
    .create-row-top {
        grid-template-rows: repeat(2, max-content);
        grid-template-columns: 1fr;
        grid-template-areas: 'create-col-left''create-col-right';
    }

    .create-col-left .post-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: var(--m-width-100);
        height: 200px;
        border: 1px dashed var(--bs-border-color);
        border-radius: .5rem;
        cursor: pointer;
    }
}

/* END SECTION CREATE POST */

/* SECTION ALL POST */
.all-post-container {
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'row-filters''row-posts';
    gap: var(--gap-sm);
}

.row-filters {
    grid-area: row-filters;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: 'filter-header''filter-options';
    gap: var(--gap-xsm);
}

.filter-header {
    grid-area: filter-header;
    font-size: 16px;
    color: var(--bs-white);
    background: var(--bs-primary);
    padding: .5rem 1rem;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    height: max-content;
}

.filter-options {
    grid-area: filter-options;
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'search-by order-by per-page';
    gap: 1.5rem;
    padding: .25rem;
}

.row-posts {
    grid-area: row-posts;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: 1fr;
    grid-template-areas: 'row-header''row-post';
}

.row-posts .row-post {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 150px 1fr;
    grid-template-areas: 'post-image post-info';
    gap: var(--gap-xsm);
}

.row-posts .post-image {
    width: 150px;
    height: 150px;
}

.row-posts .post-image img {
    width: var(--m-width-100);
    height: var(--m-height-100);
    border-radius: .5rem;
    object-fit: cover;
}

.row-posts .post-info {
    display: flex;
    flex-direction: column;
}

.row-posts .post-date {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.filter-options .dropdown-item {
    cursor: pointer;
}

@media(max-width:768px) {
    .all-post-container {
        grid-template-rows: max-content 1fr;
    }

    .row-filters {
        grid-template-rows: repeat(2, max-content);
    }

    .filter-options {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 'search-by''order-by''per-page';
        gap: 0;
    }

    .row-posts .row-post {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas: 'post-image''post-info';
    }

    .row-posts .post-image {
        width: var(--m-width-100);
        height: 150px;
    }
}

@media(max-width:576px) {
    .row-posts .post-date {
        flex-direction: column-reverse;
    }
}

/* END SECTION ALL POST */

/* SECTION CUSTOM COMPONENT */
.pagination {
    display: flex;
    justify-content: space-between;
}

.pagination .page-item .prev-btn {
    display: flex;
    gap: var(--gap-xsm);
}

.pagination .page-item .prev-btn::before {
    content: '\F12F';
    font-family: var(--font-icons);
}

.pagination .page-item .next-btn {
    display: flex;
    gap: var(--gap-xsm);
}

.pagination .page-item .next-btn::after {
    content: '\F138';
    font-family: var(--font-icons);
}

.page-link:hover {
    color: var(--bs-white);
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.page-item .page-link {
    border-radius: var(--bs-pagination-border-radius);
}

.page-item:first-child .page-link {
    border-top-left-radius: none;
    border-bottom-left-radius: none
}

.page-item:last-child .page-link {
    border-top-right-radius: none;
    border-bottom-right-radius: none
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.avatar__subtle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--bs-primary);
    background: var(--bs-primary-bg-subtle);
    cursor: pointer;
}

.avatar__subtle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: var(--m-width-100);
    height: var(--m-height-100);
    border-radius: 50%;
    background: var(--bs-primary-bg-subtle);
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.avatar__subtle:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px var(--bs-primary);
}

.flash-animation {
    position: relative;
    overflow: hidden;
}

.flash-animation::before {
    content: '';
    position: absolute;
    top: 0;
    z-index: 2;
    left: -80%;
    width: 50%;
    height: var(--m-height-100);
    display: block;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    transform: skewX(-25deg);
}

.flash-animation:hover::before {
    animation: img-flash 1s;
}

@-webkit-keyframes img-flash {
    100% {
        left: 125%;
    }
}

@keyframes img-flash {
    100% {
        left: 125%;
    }
}

.text-underline-link {
    padding-bottom: 0px;
    background: linear-gradient(to right, currentColor 0%, currentColor 100%);
    background-size: 0px 6%;
    background-repeat: no-repeat;
    background-position: left 100%;
    transition-duration: .5s;
    font-weight: inherit;
    padding: 0;
}

.text-underline-link:hover {
    background-size: 100% 6%;
}

.rest-text-link {
    text-decoration: none;
    color: var(--bs-dark);
}

.underline-hover {
    position: relative;
    color: var(--bs-dark);
    text-decoration: none;
}

.underline-hover::before {
    content: '';
    position: absolute;
    width: var(--m-width-100);
    height: 2px;
    border-radius: 4px;
    background-color: var(--bs-dark);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.underline-hover:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--m-width-100);
    height: var(--m-height-100);
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: .5rem;
}

.overlay-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--m-height-100);
    width: var(--m-width-100);
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, .5);
    border-radius: var(--border-radius-sm);
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-top: 1px solid #dee2e6;
    margin: 0 10px;
}

.input-password {
    position: relative;
    display: flex;
    align-items: center;
}

.icon-password {
    --icon-content: '\F33F';
    position: absolute;
    font-family: var(--font-icons);
    right: 0;
    margin-right: 1rem;
    cursor: pointer;
}

.icon-password::before {
    content: var(--icon-content);
}

.form-control {
    background-color: var(--bs-white);
}

.form-select {
    background-color: var(--bs-white);
    cursor: pointer;
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
}

.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    --c: no-repeat radial-gradient(farthest-side, #25b09b 92%, #0000);
    background:
        var(--c) 50% 0,
        var(--c) 50% 100%,
        var(--c) 100% 50%,
        var(--c) 0 50%;
    background-size: 12px 12px;
    animation: l12 1s infinite;
}

.loader::before {
    margin: 4px;
    filter: hue-rotate(45deg);
    background-size: 8px 8px;
    animation-timing-function: linear
}

@keyframes l12 {
    100% {
        transform: rotate(.5turn)
    }
}

/* END SECTION CUSTOM COMPONENT */
